@model HeritageApp.Models.Entities.Heritier

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Heritier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Illustration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Illustration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.nomenclatureID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
