@model IEnumerable<ProjetHeritageGroupe8.Models.AyantDroit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sexe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateNaissance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageADr)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.typeHeritier.illustration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sexe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateNaissance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageADr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.typeHeritier.illustration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AyantDroitID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AyantDroitID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AyantDroitID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
